<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Verification Using Email</title>
    <script>
        console.log(document.cookie);

        if(document.cookie === undefined || document.cookie === '') {
            window.open('/login','_self');
        }
    </script>
</head>
<body>
    <h1>Welcome to thecoderank</h1>
    <h2>PLease Subcribe this channel</h2>
</body>
</html>